@model Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<input type="hidden" asp-for="MessageId" />

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Mesaj Detayları</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-sub">
                            <b>Gönderen:</b> @Model.NameSurname
                            <br />
                            <b>Email:</b> @Model.Email
                            <br />
                            <b>Tarih:</b> @Model.SendDate
                            <br /><br />
                            <b>Mesaj:</b> @Model.MessageDetail
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            <h6>Cevabınız</h6>
                            <b>Gönderen:</b> @ViewBag.sender
                            <br />
                            <b>Tarih:</b>  @ViewBag.date
                            <br />
                            @foreach (var reply in ViewBag.reply)
                            {
                                <div>
                                    <b>Cevap:</b> @reply <br />
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Cevap gönderme formu -->
                    <form asp-controller="Message" asp-action="SendReply" method="post">
                        <input type="hidden" asp-for="MessageId" />
                        <input type="hidden" asp-for="Email" /> <!-- Alıcı Email'i hidden olarak gönderiyoruz -->
                        <div class="form-group">
                            <label for="ReplyContent">Cevabınızı Girin:</label>
                            <textarea class="form-control" id="ReplyContent" name="ReplyContent" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="position:relative; left:12px;">Cevap Gönder</button>
                        <br /><br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>