@model Message

<section id="contact" class="s-contact target-section">
    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>İletişim</h3>
            <h1>@ViewBag.contactTitle</h1>
            <p class="lead">@ViewBag.contactDescription</p>
        </div>
    </div>

    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form asp-controller="Message" asp-action="SendMessage" method="post">
                <div class="form-field">
                    <input asp-for="NameSurname" class="full-width" placeholder="Ad Soyad" required>
                </div>
                <div class="form-field">
                    <input asp-for="Email" class="full-width" placeholder="E-posta" required>
                </div>
                <div class="form-field">
                    <input asp-for="Subject" class="full-width" placeholder="Konu" required>
                </div>
                <div class="form-field">
                    <textarea asp-for="MessageDetail" rows="5" class="full-width" placeholder="Mesajınızı buraya yazın" required></textarea>
                </div>
                <div class="form-field">
                    <button type="submit" class="full-width btn--primary">Gönder</button>
                </div>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
                Bir şeyler yanlış gitti. Lütfen tekrar deneyin.
            </div>

            <!-- contact-success -->
            <div class="message-success" style="display: none;">
                Mesaj başarıyla gönderildi.<br>
            </div>

        </div>

        <div class="col-four tab-full contact__infos">
            <h4 class="h06">İletişim Bilgileri</h4>
            <p>
                Telefon: @ViewBag.contactPhone1<br>
                Cep: @ViewBag.contactPhone2<br>
                Fax: (+90) 555 0101
            </p>
            <p>
                Mail: <br>
                @ViewBag.contactEmail1<br>
                @ViewBag.contactEmail2
            </p>
            <p>
                Adres: @ViewBag.contactAddress
            </p>
        </div>
    </div>
</section>